<c-row>
  <c-col xs="12" lg="8" [offset]="{ md: 2 }">
    <h4 class="text-center mb-3">Add new book</h4>
    <form cForm [formGroup]="newBookForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label cLabel for="title">
          Book Title
          <app-required></app-required>
        </label>
        <input
          cFormControl
          id="title"
          placeholder="Title of book"
          type="text"
          formControlName="title"
        />

        <!-- Muncul ketika input name invalid DAN input tersebut sudah diisi atau diubah nilainy -->
        <div
          *ngIf="
            (title?.invalid && (title?.dirty || title?.touched)) || hasError
          "
          class="text-danger"
          style="font-size: 14px"
        >
          <span *ngIf="title?.hasError('required')"
            >This field is required</span
          >
          <span *ngIf="title?.hasError('minlength')">Minimum 10 character</span>
        </div>
      </div>

      <div class="mb-3">
        <label cLabel for="author">
          Author
          <app-required></app-required>
        </label>
        <input
          cFormControl
          id="author"
          placeholder="Author of book"
          type="text"
          formControlName="author"
        />
        <!-- Muncul ketika input name invalid DAN input tersebut sudah diisi atau diubah nilainy -->
        <div
          *ngIf="
            (author?.invalid && (author?.dirty || author?.touched)) || hasError
          "
          class="text-danger"
          style="font-size: 14px"
        >
          <span *ngIf="author?.hasError('required')"
            >This field is required</span
          >
        </div>
      </div>

      <div class="mb-3">
        <label cLabel for="publisher"> Publisher </label>
        <input
          cFormControl
          id="publisher"
          placeholder="Publisher of book"
          type="text"
          formControlName="publisher"
        />
      </div>

      <div class="mb-3">
        <label cLabel for="publishYear">
          Publish Year
          <app-required></app-required>
        </label>
        <input
          cFormControl
          id="publishYear"
          placeholder="Publish year of book"
          type="text"
          formControlName="publishYear"
        />
        <!-- Muncul ketika input name invalid DAN input tersebut sudah diisi atau diubah nilainy -->
        <div
          *ngIf="
            (publishYear?.invalid &&
              (publishYear?.dirty || publishYear?.touched)) ||
            hasError
          "
          class="text-danger"
          style="font-size: 14px"
        >
          <span *ngIf="publishYear?.hasError('required')"
            >This field is required</span
          >
          <span *ngIf="publishYear?.hasError('pattern')"
            >Range year between 2019 - 2025</span
          >
        </div>
      </div>

      <div class="mb-3">
        <label cLabel for="isbn"> ISBN Book </label>
        <input
          cFormControl
          id="isbn"
          placeholder="ISBN of book"
          type="text"
          formControlName="isbn"
        />
      </div>

      <div class="mb-3">
        <label cLabel for="stock">
          Stock Book
          <app-required></app-required>
        </label>
        <input
          cFormControl
          id="stock"
          placeholder="Stock of book"
          type="text"
          formControlName="stock"
        />
        <!-- Muncul ketika input name invalid DAN input tersebut sudah diisi atau diubah nilainy -->
        <div
          *ngIf="
            (stock?.invalid && (stock?.dirty || stock?.touched)) || hasError
          "
          class="text-danger"
          style="font-size: 14px"
        >
          <span *ngIf="stock?.hasError('required')"
            >This field is required</span
          >
          <span *ngIf="stock?.hasError('invalidNumber')"
            >This field must be number</span
          >
        </div>
      </div>

      <button color="primary" type="submit" cButton>Send Book</button>
    </form>
  </c-col>
</c-row>
